<!DOCTYPE html>
<html>
<head>
  <title><%= product.name %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<a href="/products">⬅ Back to Products</a>

<hr>

<div style="padding:20px;">

  <h1><%= product.name %></h1>

  <img src="<%= product.image %>" width="200">

  <p><strong>Description:</strong> <%= product.description %></p>

  <p><strong>Category:</strong> <%= product.category %></p>

  <p><strong>Price:</strong> Rs <%= product.price %></p>

  <p><strong>Stock:</strong> <%= product.stock %></p>


  <% if (product.stock > 0) { %>
    <p style="color:green;">In Stock</p>
  <% } else { %>
    <p style="color:red;">Out of Stock</p>
  <% } %>

</div>

</body>
</html>